.drawer {
    width: 20
}

.drawerPaper {
    width: 240;
}

.root {
    display: flex;
    background-color: blue;
    margin-top: 55px;
}

.appBar {
    margin-left: 15rem;
}

.date {
    margin-right: auto;
}

.list {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    margin-top: 10rem;
}

.children {
    min-height: 100vh;
    margin-top: 20px;
    width: 80vw
}















